body{
    font-family: 'Roboto', sans-serif;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 80px;
    background-color: gray;
    height: 80px;
    left: 0px;
    top: -8px;
    background: #FFFFFF;
}
.header-logo{
    position: absolute;
    left: 150px;
    text-decoration: none;
    padding-top: 26px;
}
.web{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.studio{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

.nav-links{
    position: absolute;
    left: 400px;
    display: flex;
    list-style: none;
    text-decoration: none;
}
.nav-link{
 padding-top: 26px;
 padding-left: 50px;
 font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
}
li a{
    text-decoration: none;
}
.contacts{
    position: absolute;
    left: 900px;
    padding-top: 26px;
    display: flex;
    list-style: none;
}
.contacts-link-1{
    padding-right: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.contacts-link-2{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.hero{
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
}
.heading-1 {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.btn{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
}
.heading-2{
   visibility: hidden;
}
.list-items{
    display: flex;
    list-style: none;
}
.middle-container{
    height: 289px;
    width: 1600px;
    background: #E5E5E5;
}
.preferences{
    position: absolute;
    width: 1170px;
    height: 101px;
    left: 215px;
    top: 774px;
}
.preferences-item{
    margin-left: 30px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.preferences-heading{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    padding-bottom: 10px;
}
.what-we-do{
    height: 476px;
    width: 1600px;
    background: #E5E5E5;
}
.what-we-do-heading{
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.list-images{
    display: flex;
    list-style: none;
}
.list-image-1{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1061px;
}
.list-image-2{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1061px;
}
.list-image-3{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;
}

/* team members */

.team{
    height: 648px;
    background: #F5F4FA;
}
.team-heading{
    padding-top: 94px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-members{
    display: flex;
    list-style: none;
}
.team-member-1{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
}
.team-member-2{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 515px;
    top: 1635px;
}
.team-member-3{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 815px;
    top: 1635px;    
}
.team-member-4{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 1635px;
}
h3{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 30px;
    color: #212121; 
}
.profession{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 10px;
    color: #757575;
}
.team-member{
    height: 108px;
    width: 270px;
    background: #FFFFFF;
}
.footer{
    height: 252px;
    background-color: #2F303A;
}

.footer-logo{
    text-decoration: none;
}
.address{
    margin-left: 215px;
    margin-top: 60px;
    background-color: #2F303A;
}
.address-list-items{
    list-style: none;
}
.footer-list-items{
    margin-top: 20px;
}
.footer-item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-item-2{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
     rgba(255, 255, 255, 0.6);
}


